<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<header>
			<div class="col-xs-2" >
				<div class="circle">
 					<br />
  						You might
  					<br />
  						be from
  					<br />
  						Iowa
  				</div>
			</div>
			<div class="col-xs-6 slogan">
				Surviving America's Hottest & Coldest weather since 1846!
			</div>
			<div class="col-xs-4 links">  
				<%= link_to 'Contribute', '#' %>
				<%= link_to 'About', '#' %>
			</div>

		</header>
<hr />		<!--  hr means horizontal rule -->
<br class="clear" />

<%= yield %>

</body>
</html>
